<!DOCTYPE html>
<html>
  <head>
<%- include ../partial/head%>
  </head>
  <body>
    <%- include ../partial/menubar%>
    <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="icon-table2"></i> Keterangan Nilai Kuesioner</h3>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered" border="3">
                <tr>
                  <th>Nilai</th>
                  <td>SS</td>
                  <td>S</td>
                  <td>RR</td>
                  <td>TS</td>
                  <td>STS</td>
                </tr>
                <tr>
                  <th>Keterangan</th>
                  <td>Sangat Setuju</td>
                  <td>Setuju</td>
                  <td>Ragu-ragu</td>
                  <td>Tidak Setuju</td>
                  <td>Sangat Tidak Setuju</td>
                </tr>
            </table>
          </div>
        </div>
    <!-- Default table -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h1 class="panel-title"><i class="icon-table2"></i> Form Kuesioner Students</h1>
          </div>
          <form action="/questioner_students/<%=dataInstructor.id%>/answer" method="POST">
          <div class="table-responsive">
            <table class="table table-bordered" border="3">
              <thead>
                <tr>
                  <th rowspan="2">No</th>
                  <th rowspan="2">Pertanyaan</th>
                  <th colspan="5" class="harapan">Expectation</th>
                  <th colspan="5" class="kenyataan">Reality<br></th>
                </tr>
                <tr>
                  <td class="harapan">SS</td>
                  <td class="harapan">S</td>
                  <td class="harapan">RR<br></td>
                  <td class="harapan">TS</td>
                  <td class="harapan">STS</td>
                  <td class="kenyataan">SS</td>
                  <td class="kenyataan">S</td>
                  <td class="kenyataan">RR</td>
                  <td class="kenyataan">TS</td>
                  <td class="kenyataan">STS</td>
                </tr>
              </thead>
              <tbody>
              <% var i=1; dataQuestioner.forEach(data => { %>
                <input type="hidden" name="QuestionerId[<%=data.id%>]" value="<%=data.id%>">
                <tr>
                  <td><%=i++%></td>
                  <th><%=data.pertanyaan%></th>
                  <th><input type="radio" required value="5" name="nilai_harapan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="4" name="nilai_harapan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="3" name="nilai_harapan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="2" name="nilai_harapan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="1" name="nilai_harapan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="5" name="nilai_kenyataan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="4" name="nilai_kenyataan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="3" name="nilai_kenyataan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="2" name="nilai_kenyataan[<%=data.id%>]"></th>
                  <th><input type="radio" required value="1" name="nilai_kenyataan[<%=data.id%>]"></th>
                </tr>
              <%})%>
              </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <button class="btn btn-success pull-right">Simpan</button>
          </div>
          </form>
        </div>
  </body>
</html>
