<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partial/head%>
<script type="text/javascript">
function clickAndDisable(link)
{
    link.onclick = function(event)
    {
        event.preventDefault();
    }
}
</script>

</head>
<body>
    <%- include ../partial/menubar%>
    <h1>SELECT INSTRUCTOR</h1>
    <form action="/questioner_students" method="post" class="container">

            <table class="table table-bordered" border="1">
                <thead>
                    <th>NO</th>
                    <th>NAME</th>
                    <th>SELECT</th>
                </thead>
                <%data.forEach(r=>{%>
                <tbody>
                    <td>
                        <label>
                            <input type="integer" name="id" value="<%=r.id%>">
                        </label>
                    </td>
                    <td>
                        <label>
                            <input type="text" name="nama_instruktur" value="<%=r.name%>">
                        </label>
                    </td>
                    <td>
                      <% if (r.status != true) {%>
                      <a href="/questioner_students/<%=r.id%>/answer">CLICK</a>
                      <% }else{ %>
                        DONE!
                        <%}%>
                    </td>
                </tbody>
                <%})%>
            </table>
    </form>

</body>
</html>
